.cart-container {
    flex: 1;
    width: 100%;;
    display: flex;
    overflow-y: hidden;

    --black-color:  rgb(38, 38, 38);
    --white-color:  rgb(227, 222, 222);
}

.cart-container .products-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.cart-container .products-container .product-cart-card{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    margin : 0.3rem 0.5rem 0.3rem 0rem;
    border-radius: 10px;
}

.cart-container .products-container .product-cart-card .product-info{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cart-container .products-container .product-cart-card .product-amounts{
    flex: 2;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.cart-container .products-container .product-cart-card .totals{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart-container .products-container .product-cart-card .product-amounts input{
    text-align: center;
}

.cart-container .products-container .product-cart-card p{
    text-align: center;
}

.cart-container .products-container .product-cart-card .amount-buttons {
    display: flex;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.cart-container .products-container button{
    background-color: var(--white-color);
    color: var(--black-color); 
    border: 1px solid var(--black-color);
    transition: all 500ms;
}

.cart-container .products-container button:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.cart-container .totals-container {
    flex: 1;
}


.cart-container .empty-cart {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .totals-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
    background-color: rgb(209, 209, 209);
}